@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
.prosto {
    font-family: "Prosto One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    overflow-y: scroll;
    overflow-x: hidden;
    --ion-background-color: #ffffff !important;
    --ion-background-color-rgb: 255,255,255 !important;

    --ion-text-color: #000000 !important;
    --ion-text-color-rgb: 0,0,0 !important;
}
.content{
    overflow-y: scroll;
    padding-bottom:230px !important;
    height: 100%;
}
ion-list, ion-item, ion-input {
    --background: #FFF;
    --ion-background-color: #ffffff !important;
}
ion-content{
    --background: #FFF;
    overflow-y: scroll;
    height: 100%;
}
